spring:
  application:
    name: room-reservation

  datasource:
    url: jdbc:postgresql://localhost:5432/room_reservation
    username: room_reservation
    password: room_reservation
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  web:
    error:
      include-stacktrace: never
